.logo {
	width: 400px;
    height: 50px;
    padding: 50px;
}
.grid-container {
	width: 320px;
	height: 320px;

	display: grid;
  	grid-template-columns: auto auto auto;
  	padding: 10px;
  	grid-gap: 74px 30px;
  	margin-top: 20%;


}
.blue{
	background-color: #159;
	width: 280px;
	height: 280px;
	margin: 5px;
}

.test{
	background-color: #e92;
	width: 280px;
	height: 280px;
	margin: 5px;
}

h1 {
	font-size: 50px;
	font-family: "Sheriff", sans-serif;
	color: #00418c;

}

h3 {
	font-size: 25px;
	font-family: "Sheriff", sans-serif;
	font-style: italic;
	color: #e92;
}

.text {
	text-align: center;
}

img {
	width: 150px;
    height: 150px;
    padding: 65px;
    padding-top: 70px;
    border: 0;
}
